@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
text-align: center;
color: #396e99;
font-family: 'M PLUS Rounded 1c', sans-serif;
}

html {
  background: #1c2635;
}

.title {
font-size: 40pt;
display: block;
  overflow: hidden;
}

.subtitle {
display: block;
  overflow: hidden;
}

.box {
  overflow: hidden;
display: inline-block;
  border: 10px solid #396e99;
height: 200px;
width: 200px;
}